/*Internal CSS used for simple link styling*/

:root {
    --bg: #fff8dc; 
}

.monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  

body {
    /*General background color - Example of using CSS variable*/
    background-color: var(--bg);
}

a[href="https://www.youtube.com/watch?v=5KIJK7b_ZmA"] {
    color: blue;
}

div.forms h2 {
    color: hsl(176, 29%, 23%);
    font-family: serif;
}

div.top > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div + p {
   font-size: large;
}

div ~ p {
    font-family: 'Times New Roman', Times, serif;
}

div.header h3 {
    background-color: yellow;
}

.center {
    text-align: center;
    list-style-position: inside;
  }

h3, h4	{
    font-family: Helvetica, sans-serif;
   }

p {
	font-size:15px;
	font-family: Georgia,Times,Times New Roman,serif; 
    
}
   
ul {
    list-style-type: none;
   
    padding: 20px;
    overflow: hidden;
}

/* Styling for Footer Image*/
img	{
    padding:1.3cm; /*Absolute Unit 2*/
    width: auto; 
}

div.second-list {
    text-decoration:wavy;
    
}

span{
    font-size: 1.5em; /*Relative Unit 1*/
}

button:hover {
    color:darksalmon;
}

div.top {
    text-align: center;
    display: inline;
    position: static;
    margin: auto;
}

/* Forms section at the bottom of the page. Flex container*/
.forms {
    position: relative;
    color: hsl(0, 0%, 6%);
    max-height: 2.6in; /*Absolute Unit 3*/
    padding-top: 100px;
    border-radius: 10px;
    border-style: none;
    padding-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    align-items: center; 
}


/*Child div of div.forms, used for relative units*/
div.textbox {
    padding-block: 0%; /*Relative Unit 2*/
    height: 0.1rem; /*Relative Unit 3*/ 
}

* {
    text-align: center;
}

#copyright {
    color: color(display-p3 1 0 0.331);
}

div.footer {
    float: right;
    padding: 25px  25px  25px  25px; 
    margin: 25px 50px 75px 100px;
}

@media (max-width: 1250px) {
    div.links a,
    div.links a::after {
        font-size: 2.5em; 
    }
}

.container .highlight {
    font-family: cursive;
}

div:has(p) {
    /* Your styles here */
    font-size: large;
}