/*Internal CSS used for simple link styling*/

:root {
    --bg: #fff8dc; 
}

body {
    /*General background color - Example of using CSS variable*/
    background-color: var(--bg);
}

h4	{
    font-family: Helvetica, sans-serif;
   }

p {
	font-size:15px;
	font-family: Georgia,Times,Times New Roman,serif; 
    
}
   
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

/* Styling for Footer Image*/
img	{
	float:left;
	padding:1.3cm; /*Absolute Unit 2*/
}

div.second-list {
    text-decoration:wavy;
    max-width: 10in; 
}

span{
    font-size: 1.5em; /*Relative Unit 1*/
}

div.top {
    text-align: center;
}

/* Forms section at the bottom of the page*/
div.forms {
    color: hsl(0, 0%, 6%);
    max-height: 2.6in; /*Absolute Unit 3*/
    padding-top: 100px;
    text-align: center;
}

/*Child div of div.forms, used for relative units*/
div.textbox {
    padding-block: 0%; /*Relative Unit 2*/
    height: 0.1rem; /*Relative Unit 3*/ 
}